body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  Arial, sans-serif;
  font-size: 150%;
  background-image: url("images/space_bg.jpg");
  background-size: cover;
  color: white;
  margin: 0 auto;
}

h1 {
  color: lightblue;
  margin-top: 25px;
}

h3, ul {
  font-size: 80%;
}

p {
  font-size: 90%;
  color: lightblue;
  margin-bottom: 0px;
}

h5 {
  color: lightblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: lightblue;
}

button {
  color: black;
  background: goldenrod;
  font-size: 15px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  margin: 0px 4px;
  border-radius: 2px;
}

button:hover {
  background: gold;
}

button:active {
  background: yellow;
}

.container {
  color: white;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.upper-ui {
  margin-top: 50px;
}

.column-group {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.column-left {
  margin-right: 40px;
}

.column-right {
  margin-left: 40px;
}

.number {
  color: goldenrod;
}

.gold-accent {
  color: goldenrod;
}

.red-accent {
  color: crimson;
}

#score-el {
  color: goldenrod;
  font-size: 40px;
  margin-top: 20px;
}

#hidden {
  display: none;
}

#payout {
  color: black;
  background: goldenrod;
  border: none;
  padding: 8px 28.5px;
  margin: 0px 4px;
  border-radius: 2px;
}

#payout:hover {
  background: gold;
}

#payout:active {
  background: yellow;
}

#four-seven-btn,
#one-eight-btn {
  display: none;
}

#help-modal {
  font-weight: bold;
  position: absolute;
  top: 4.5%;
  left: 0;
  right: 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgba(0,0,0,0.8);
  padding: 25px 0px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
    body{
        font-size: 200%;
    }
    .column-group {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .container {
      color: white;
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
    }

    #help-modal {
      width: 700px;
    }
}

@media screen and (max-width: 480px) {
    body{
        font-size: 150%;
    }
    .column-group {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    .container {
      color: white;
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
    }
    #help-modal {
      width: 97%;
    }
}
